/*
 * Global modifiers:
 * Font
 * Font Color
 * 
 */

* {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.center {
  text-align: center;
}

hr {
  border-top: 1px dashed #999999;
}

#attendance {
  background-color: aliceblue;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 5px 15px;
  border-style: dashed;
  border-color: rgb(220, 230, 240);
  border-width: 4px;
  border-radius: 10px;
}

.stick {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

